/* Import custom fonts before Tailwind directives */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
    margin: 0;
    background-color: black; /* Change to black if desired */
    
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

